<form action="/Blog/Save" method="post">
	<div class="mb-3">
		<label class="form-label">Blog Title</label>
		<input type="text" class="form-control" id="BlogTitle" name="BlogTitle">
	</div>
	<div class="mb-3">
		<label class="form-label">Blog Content</label>
		<input type="text" class="form-control" id="BlogContent" name="BlogContent">
	</div>
	<div class="mb-3">
		<label class="form-label">Blog Author</label>
		<input type="text" class="form-control" id="BlogAuthor" name="BlogAuthor">
	</div>
	<a href="/Blog" class="btn btn-dark">Back</a>
	<button type="submit" class="btn btn-success">Save</button>
</form>

